spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cloud
    username: cloud
    password: Qd31Ds
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: validate
    properties: 
      hibernate:
        jdbc: 
          time_zone: UTC
    open-in-view: false 
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: false
    clean-disabled: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

jwt:
  secret: "pTnq2hQ9NZGvmCqEd8H9+HfA9swHQxtTnFlEXwRYe6c2FB9hAN/XG8Ujs3kGW2sL2bY3pV5KMUJf0GzT3csGbw=="
  expMinutes: 60
  issuer: "cloud-storage"

storage:
  root-dir: ./data/storage

management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
